<!DOCTYPE html>
<html>
<head>
	<title></title>
<link href="https://fonts.googleapis.com/css?family=Audiowide|Bad+Script" rel="stylesheet">
	
	<style type="text/css">
	body {
		margin: 0;
	}

	@keyframes Colors {
  0% {color: black; }
  10% {color: aqua;}
  20% {color: deeppink;}
  30% {color: purple;}
  40% {color: orange;}
  50% {color: yellow;}
  60% {color: lightblue;}
  70% {color: lightgreen;}
  80% {color: red;}
  90% {color: hotpink;}
  100% {color: mediumpurple;}

}

	</style>

</head>
<body>

</body>
</html>





<!--<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>-->
